.dark-heresy.psychic-power {
    .notes-editor {
        height: 225px;
        max-height: 225px;
    }

    .stats .stats-row {
        .stat.prerequisite {
            flex: 39%;
        }

        .stat.action {
            flex: 25%;

            input {
                text-align: center;
            }
        }

        .stat.subtype {
            flex: 34%;

            input {
                text-align: center;
            }
        }

        .stat.focus-power {
            flex: 39%;
            width: 39%;
            max-width: 39%;

            input[type="number"] {
                width: 2em;
                text-align: center;
            }
        }

        .stat.range {
            flex: 25%;

            input {
                width: 4em;
                text-align: center;
            }
        }

        .stat.sustained {
            flex: 34%;
            justify-content: end;

            input {
                width: 6em;
                text-align: center;
            }
        }

        .stat.damage {
            flex: 39%;
            width: 39%;
            max-width: 39%;
            justify-content: end;

            input {
                width: 5em;
                text-align: center;
            }

            select {
                width: 6em;
                margin-left: 2px;
            }
        }

        .stat.penetration {
            flex: 25%;
            justify-content: end;

            input {
                width: 4em;
                text-align: center;
            }
        }

        .stat.zone {
            flex: 34%;
            justify-content: end;

            select {
                width: 8em;
            }
        }

        .stat.special,
        .stat.short-description {
            flex: 100%;

            label {
                flex: 20%;
            }

            input {
                flex: 80%;
            }
        }

        .stat.cost {
            flex: 100%;
            justify-content: end;

            input {
                width: 4em;
                text-align: center;
            }
        }
    }
}