.dark-heresy .notes-tab {
  .notes-editor {
    margin-top: 2px;
    height: 476px;
  }

  .information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;

    .information-row {
      align-items: baseline;
      display: flex;
      flex-direction: row;
      margin: 5px 0;

      .wrapper {
        display: flex;
        align-items: center;
      }

      .margin {
        margin-left: 14px;
      }

      input {
        margin-left: 8px;
      }
    }

    .full {
      flex-basis: 100%;
    }

    .age input {
      width: 2em;
      text-align: center;
    }

    .divination label,
    .quirks label,
    .superstition label,
    .momentos label {
      flex-basis: 12%;
    }
  }
}